// CTA Block
// -
// + + + + + + + + + + +

@import 'blocks.scss';


.acf-block--cta {
	padding: 6em;
	text-align: center;
	background-size: cover;
	background-position: center center;

	.acf-block-container {
		
	}
	
	@include rwd(large) {
		padding: 12em 6em;
	}	
}

.acf-block-cta-text {
	
}
.acf-block-cta-btn {
	
	a {
		// your style .action-btn
	}
}