// Photo Gallery Block
// -
// + + + + + + + + + + 

@import 'variables.scss';
@import 'mixins.scss';


[class*=acf-block--] {
	position: relative;
	margin-bottom: $grid-padding*2;
}

.acf-block-container {
	width: 100%;
}


// Block


.acf-block-gallery-pictures {
	display: flex;
	justify-content: flex-start; 
	flex-wrap: wrap;
	margin: 0 -$grid-padding;
}

[class*="acf-block-gallery-item-"] {
	padding: $grid-padding;
	width: 50%;
}

@include rwd(large) {
	.acf-block-gallery-item-6cols {
		width: 16.6667%;
	}
	.acf-block-gallery-item-5cols {
		width: 20%;
	}
	.acf-block-gallery-item-4cols {
		width: 25%;
	}
	.acf-block-gallery-item-3cols {
		width: 33.3333%;
	}
	.acf-block-gallery-item-2cols {
		width: 50%;
	}
}

.acf-block-gallery-figure {
	position: relative;
	margin: 0;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
		height: auto;
		transition: .2s ease-in-out;
	}

}
.acf-block-gallery-caption {
	font-family: $font-regular;
}

.wp-admin .acf-block-gallery-caption {
	display: none;
}


@include rwd(large) {

	.acf-block-gallery-figure {
		
		a:hover,
		a.focus-visible {
			
			img {
				opacity: .75;
				transform: scale(1.05) translateY(-2.5%);
			}
		}
		a:focus {
			outline: none;
		}
	} 


	// Caption inside position only
	
	.inside {

		.acf-block-gallery-caption {
			position: absolute;
			top: 0; 
			left: 0;
			width: 100%; 
			height: 100%;
			margin: 0;
			background-color: transparentize( $secondary-color, .3 );
			opacity: 0;
			transition: opacity .2s ease-in-out;
		}
		.acf-block-gallery-caption-title {
			position: relative;
			top: 50%;
			display: block;
			width: 100%;
			padding: $grid-padding;
			color: $text-color;
			font-family: $font-bold;
			text-align: center;
			transition: transform .2s ease-in-out;		
		}
		
		.acf-block-gallery-figure {
			
			a:hover,
			a.focus-visible {
				
				.acf-block-gallery-caption {
					opacity: 1;
				}
				.acf-block-gallery-caption-title {
					transform: translateY(-50%);
				}
			}
		} 
		
	}

}
