// Text+Img Block
// -
// + + + + + + + + + + 

@import 'blocks.scss';


.acf-block--textimg {
	
	.acf-block-container {
		
		@include rwd(medium) {
			display: flex;
			
			&.centered {
				align-items: center;				
			}
			&.right {
				flex-direction: row-reverse;
			}
		}
	}
}

.acf-block-textimg-text,
.acf-block-textimg-picture {
	
	@include rwd(medium) {
		width: 50%;
	}
}

.acf-block-textimg-picture figure {
	
	.wp-admin & {
		margin: 0;
		
		img {
			max-width: none;
			width: 100%;
			height: auto;
		}
	}
}

.acf-block-textimg-text {
	padding: $grid-padding;
	padding-left: $grid-padding*2;
	
	.right & {
		padding-left: $grid-padding;
		padding-right: $grid-padding*2;
	}
}

.acf-block-textimg-picture {
	@include img-opacity(.7);
	
	img {
		display: block;
	}
}