// Advanced List Block
// -
// + + + + + + + + + + 

@import '../../../assets/css/vars.scss';


.acf-block--advanced-list {
	
	.acf-block-container {}
}

.acf-block-list-items {
	list-style: none;
	padding-left: 0;
}

.acf-block-list-item {
	margin-bottom: $grid-padding*2;
	padding-bottom: $grid-padding*2;
	border-bottom: #333 1px solid;

	
	@include rwd(medium) {
		display: flex;
		flex-wrap: wrap;
	}
	
}


.list-icon {
	max-width: 8rem;
	
	@include rwd(medium) {
		padding-right: $grid-padding*2;
	}
}

.list-content {
	
	span {
		display: block;
		margin: 0;

		&.list-title {
			font-size: 135%;
		}		
	}
	
	.list-title {
		margin: 0;
	}
	
	@include rwd(medium) {
		flex: 1 0 0;
		padding-right: $grid-padding*2;
	}
}

.list-featured {
	display: block;
	margin: $grid-padding 0 0 0;
	font-size: 150%;
	
	@include rwd(medium) {
		margin-top: 0;
		padding-left: $grid-padding*2;
	}
}

.list-legend {
	display: block;
	width: 100%;
	padding-top: $grid-padding*2;
	margin-top: $grid-padding*2;
	margin-bottom: 0;
	border-top: #333 1px dashed;
}