// Blocks var & mixins
// -
// + + + + + + + + + + +

// Vars

@import 'vars.scss';

// Common

[class*=acf-block--] {
	position: relative;
	
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	
	&.repeat {
		background-size: auto;
		background-repeat: repeat;
	}
	.wp-admin &[style*=color] {
		padding: 1rem;
	}
	
	&.has-bg-color,
	&.has-bg-img {
		padding-top: $grid-padding*2;
		padding-bottom: $grid-padding*2;
		
		@include rwd(medium) {
			padding-top: $grid-padding*4;
			padding-bottom: $grid-padding*4;
		}
	}
	&.alignfull {
		padding-left: 0;
		padding-right: 0;
	}


	.acf-block-container {
		width: 100%;
		
		&.center-max {
			// center the content width max-width
			
			.wp-admin & {
				@include rwd(medium) {
					width: 62%;
					margin: 0 auto;
				}
			}
		}
	}
	
	
	&.has-overlay {
		
		&::before {
			content: '';
			position: absolute;
			top: 0; 
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(to top, rgba(0,0,0, .65) 0%, rgba(0,0,0, 0) 100%);
			z-index: 1;
		}
		
		.acf-block-container {
			position: relative;
			z-index: 2;
		}
	}
	
	&.white-text {
		
		& *:not([class*=action-btn]) {
			color: #fff;
		}
	}
	
}

// Fancybox

.fancybox-infobar,
.fancybox-toolbar {
	
	.admin-bar & {
		top: 46px;
		
		@include rwd($admin-bar) {
			top: 32px;
		}
	}
}


