// Testimonial Block
// -
// + + + + + + + + + + 

@import '../../../assets/css/vars.scss';


.acf-block--testimonial {
	
	.acf-block-container {}
}

.acf-block-testimonial-item {
	
	@include rwd(large) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.testimonial-picture {
			width: 25%;
			
			img {
				display: block;
			}
		}
		.testimonial-content {
			width: 70%;
		}
		
		&.right {
			flex-direction: row-reverse;
		}
	}
}