// CTA Block
// -
// + + + + + + + + + + +

@import '../../../assets/css/blocks.scss';


.acf-block--cta {
	padding: 2em;
	text-align: center;
	background-size: cover;
	background-position: center center;
	
	@include rwd(small) {
		padding: 4em;
	}
	@include rwd(medium) {
		padding: 6em;
	}

	.acf-block-container {
		
	}
	
	@include rwd(large) {
		padding: 12em 6em;
	}	
}

.acf-block-cta-text {
	max-width: 64rem;
	margin: 0 auto;
}
.acf-block-cta-btn {
	
	a {
		// your style .action-btn
	}
}