[class*=acf-block--] {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  [class*=acf-block--].repeat {
    background-size: auto;
    background-repeat: repeat; }
  .wp-admin [class*=acf-block--][style*=color] {
    padding: 1rem; }
  [class*=acf-block--] .acf-block-container {
    width: 100%; }
    @media only screen and (min-width: 45em) {
      .wp-admin [class*=acf-block--] .acf-block-container.center-max {
        width: 62%;
        margin: 0 auto; } }

.has-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1; }

.has-overlay .acf-block-container {
  position: relative;
  z-index: 2; }

.white-text *:not([class*=action-btn]) {
  color: #fff; }

.acf-block--cta {
  padding: 2em;
  text-align: center;
  background-size: cover;
  background-position: center center; }
  @media only screen and (min-width: 30em) {
    .acf-block--cta {
      padding: 4em; } }
  @media only screen and (min-width: 45em) {
    .acf-block--cta {
      padding: 6em; } }
  @media only screen and (min-width: 60em) {
    .acf-block--cta {
      padding: 12em 6em; } }

.acf-block-cta-text {
  max-width: 64rem;
  margin: 0 auto; }
